@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh; */
  /* background-color: #333; */
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  flex-direction: column;
  bottom: 0;
}
footer .social_icon, footer .menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li, footer .menu li {
  list-style: none;
}
footer .social_icon li a{
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: .5s;

}
footer .social_icon li a:hover{
  transform: translateY(-10px);
}
footer .menu li a{
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: .5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer div.logo h2{
  text-shadow: 6px 6px 10px rgb(5, 107, 167);
  color: white; 
	text-shadow:0 1px 0 #ccc,
	            0 2px 0 #c9c9c9,
	            0 3px 0 #bbb,
	            /* 0 4px 0 #b9b9b9,
	            0 5px 0 #aaa, */
	            0 6px 1px rgba(0,0,0,.1),
	            0 0 5px rgba(0,0,0,.1),
	            0 1px 3px rgba(0,0,0,.3),
	            0 3px 5px rgba(0,0,0,.2),
	            0 5px 10px rgba(0,0,0,.25),
	            0 10px 10px rgba(0,0,0,.2),
	            0 20px 20px rgba(0,0,0,.15);
}
footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1{
  z-index: 10;
  opacity: 1;
  bottom: 0;
  animation: waveAnimation_1 4s linear infinite;
}
@keyframes waveAnimation_1 {
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
  
}
footer .wave#wave2{
  z-index: 9;
  opacity: 0.5;
  bottom: 10px;
  animation: waveAnimation_2 4s linear infinite;
}
@keyframes waveAnimation_2 {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
  
}
footer .wave#wave3{
  z-index: 9;
  opacity: 0.2;
  bottom: 15px;
  animation: waveAnimation_3 3s linear infinite;
}
@keyframes waveAnimation_3 {
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
  
}
footer .wave#wave4{
  z-index: 9;
  opacity: 0.7;
  bottom: 20px;
  animation: waveAnimation_4 3s linear infinite;
}
@keyframes waveAnimation_4 {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
  
}