@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  padding:100px 0;
  background-color: rgb(4, 205, 255);
}
form {
  /* top: 50px; */
  padding-top: 20px;
  position: relative;
  border-radius: 10px;
  /* padding: 20px; */
  background-color: lightblue;
  /* display: flex;
  flex-direction: column;
  width: 50%; */
  margin: 0 auto;
  /* padding-bottom: 40px; */
}
form label.form-label{
  margin-top: 10px;
  margin-bottom: 0;
}
form input.form-control{
  padding-left: 45px;
  border-radius: 10px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: 10px;
}
.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  margin-bottom: 0;
  z-index: 2;
}
.logo h1 {
  text-shadow: 6px 6px 10px rgb(5, 107, 167);
  color: white; 
  text-shadow:0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
  /* source text shadow https://codepen.io/webprogrammingunpas/pen/YWyjjP */
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: white;
  line-height: 50px;
}
form h2 {
  font-size: 30px;
  text-shadow:0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3);
  text-align: center;
  color: rgb(255, 255, 0);
  margin-top: 5px;
  font-weight: 700;
}
form button{
  display: flex;
  color: white;
  margin: auto;
  margin-top: 20px;
  width: 98%;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 15px;
  background: blueviolet;
}
form button:hover{
  background: blue;
}
form button span {
  display: flex;
  margin: auto;
}
form.needs-validation{
  width: 50%;
}
form label.form-label{
  position: relative;
  font-size: 10pt;
  padding-left: 8px;
  bottom: -3px;
}
form h5 {
  color:black;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /* position: absolute; */
  bottom: 2px;
  padding-top: 20px;
  font-size: 1em;
}
.invalid-feedback{
  font-size: 0.8em;
  padding:0;
  margin-left: 5px;
  margin-top: -2px;  
  margin-bottom: -10px;
}
.input-group-text{
  border: none;
  position: absolute;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 5px;
  height: 38px;
}
form .input-group-text label div{
  display: flex;
  margin: auto;
  height: 25px;
  width: 35px;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
}
form .input-group-text label #label_id_email{
  /* margin-top: -2px; */
  /* display: flex;
  margin: auto;
  height: 25px;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat; */
  background-image: url('icon/email.png');
  /* background-color: black; */
}
form .input-group-text label #label_id_password{
  background-image: url('icon/key.png');
  opacity: 0.75;
  /* top : 74px; */
}
form .input-group-text label #label_id_name{
  background-image: url('icon/person.png');
  /* width: 32px; */
  /* top : 140px; */
}
form .input-group-text label #label_id_no_hp{
  background-image: url('icon/phone.png');
  /* top : 213px; */
}
form .input-group-text label #label_id_usia{
  background-image: url('icon/age.png');
  /* top : 283px; */
}
form .input-group-text label #label_id_nik{
  background-image: url('icon/id.png');
  /* top : 353px; */
}
form .input-group-text label #label_id_domisili{
  background-image: url('icon/location.png');
  /* top : 423px; */
}
.was-validated .form-control.is-invali{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}
@media screen and (max-width : 800px) {
  form.needs-validation{
    width: 70%;
  } 
}
@media screen and (max-width : 678px) {
  form.needs-validation {
    width: 80%;
  } 
}
@media screen and (max-width : 567px) {
  form.needs-validation {
    width: 90%;
  } 
}