/* font yang dipakai */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  background-color: rgb(4, 205, 255);
  height: 100vh;
  flex-direction: column;
}
.emails, .passwords{
  display: none;
}
#email_message{
  font-weight: 500;
  color: blue;
  position: absolute;
  left: 35px;
  top : 123px;
  z-index: -3;

}
#password_message{
  font-weight: 500;
  color: blue;
  position: absolute;
  left: 35px;
  top : 192px;
  z-index: -3;

}
.checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  word-wrap: break-word;
}
.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  margin-bottom: 0;
  z-index: 2;
}
.logo h1 {
  text-shadow: 6px 6px 10px rgb(5, 107, 167);
  color: white; 
	text-shadow:0 1px 0 #ccc,
	            0 2px 0 #c9c9c9,
	            0 3px 0 #bbb,
	            0 4px 0 #b9b9b9,
	            0 5px 0 #aaa,
	            0 6px 1px rgba(0,0,0,.1),
	            0 0 5px rgba(0,0,0,.1),
	            0 1px 3px rgba(0,0,0,.3),
	            0 3px 5px rgba(0,0,0,.2),
	            0 5px 10px rgba(0,0,0,.25),
	            0 10px 10px rgba(0,0,0,.2),
	            0 20px 20px rgba(0,0,0,.15);
  /* source text shadow https://codepen.io/webprogrammingunpas/pen/YWyjjP */
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: white;
  line-height: 50px;
}
form {
  top: 50px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}
form h2 {
  font-size: 30px;
  text-shadow:0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3);
  text-align: center;
  color: rgb(255, 255, 0)
}
form .icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 510px;
  /* background-color: black; */
  justify-content: space-evenly;
  top: 52px;
  left: 0;
}
form .icons label{
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  position: relative;
  /* width : 40px; */
  height: 31px;
  left: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}
form .icons label.icon:nth-child(1){
  top: -1px;
  background-image: url('icon/email.png');
}
form .icons label.icon:nth-child(2){
  background-image: url('icon/key.png');
  opacity: 0.75;
  /* top : 74px; */
}
form .icons label.icon:nth-child(3){
  background-image: url('icon/person.png');
  width: 32px;
  /* top : 140px; */
}
form .icons label.icon:nth-child(4){
  background-image: url('icon/phone.png');
  /* top : 213px; */
}
form .icons label.icon:nth-child(5){
  background-image: url('icon/age.png');
  /* top : 283px; */
}
form .icons label.icon:nth-child(6){
  background-image: url('icon/id.png');
  /* top : 353px; */
}
form .icons label.icon:nth-child(7){
  background-image: url('icon/location.png');
  /* top : 423px; */
}
/* form .icons img{
  position: absolute;
  top : 89px;
  width : 30px;
  left: 30px;
}
form .icons img.icon:nth-child(2){
  opacity: 0.75;
  top : 70px;
}
form .icons img.icon:nth-child(3){
  width: 32px;
  top : 138px;
}
form .icons img.icon:nth-child(4){
  top : 206px;
}
form .icons img.icon:nth-child(5){
  top : 274px;
}
form .icons img.icon:nth-child(6){
  top : 342px;
}
form .icons img.icon:nth-child(7){
  top : 410px;
} */
#id_email{
  padding-left: 50px;
  /* background-image: url('icon/email.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#id_password{
  padding-left: 50px;
  /* background-image: url('icon/key.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#id_name{
  padding-left: 50px;
  /* background-image: url('icon/person.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#id_no_hp{
  padding-left: 50px;
  /* background-image: url('icon/phone.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#id_usia{
  padding-left: 50px;
  /* background-image: url('icon/age.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;
}
#id_nik{
  padding-left: 50px;
  /* background-image: url('icon/id.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#id_domisili{
  padding-left: 50px;
  /* background-image: url('icon/location.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
form label {
  padding-left: 8px;
  font-size: 8pt;
}
form input {
  display: flex;
  /* margin: auto; */
  /* width: 80%; */
  /* border: none; */
  margin-bottom: 10px;
  /* margin: 10px; */
  border: 1px solid rgb(11, 137, 255);
  border-radius: 15px;
  padding: 10px;
}
form button{
  display: flex;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 15px;
  background: blueviolet;
}
form button:hover{
  background: blue;
}
form button span {
  display: flex;
  margin: auto;
}
form h5 {
  color:black;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 2px;
}
form input:hover {
	border-color: rgba(21,127,219,.63);
}
form input:focus { 
	box-shadow: 0px 0px 20px 0px rgba(163, 243, 14, 0.63);
	border-color:#4ab1ff;
	background: #F5F5F5;
}

/* Responsive cases */
@media screen and (max-width : 800px) {
  form {
    width: 70%;
  } 
}
@media screen and (max-width : 678px) {
  form {
    width: 80%;
  } 
}
@media screen and (max-width : 567px) {
  form {
    width: 90%;
  } 
}
@-moz-document url-prefix() {
  form .icons label.icon:nth-child(1){
    top: -1px;
  }
  form .icons label.icon:nth-child(2){
    opacity: 0.75;
    top : 3px;
  }
  form .icons label.icon:nth-child(3){
    width: 32px;
    top : 3px;
  }
  form .icons label.icon:nth-child(4){
    top : 7px;
  }
  form .icons label.icon:nth-child(5){
    top : 9px;
  }
  form .icons label.icon:nth-child(6){
    top : 12px;
  }
  form .icons label.icon:nth-child(7){
    top : 13px;
  }
}