<!DOCTYPE html>
<html>
  <head>
    <title> Add Note </title>
    <style>
      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #dcedc1;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }

      .active {
        background-color: #646536;
      }

      </style>
  </head>
<body>


<h1>Tambah E-HAC</h1>

<form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit">
</form>


</body>
</html>
