@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  /* border: 1px solid white; */
}
body {
  overflow: hidden;
  /* height: 2000px; */
}
nav {
  display: flex;
  /* justify-content: space-evenly; */
  height: 40px;
  background-color:#3586ff;
  /* background-color: rgba(51, 51, 51, 0.685); */
  align-items: center;
  position: relative;
}
nav .logo{
  position: relative;
  left: 0px;
  padding: 10px;
	top: -2px;
}
nav .logo h2{
  text-shadow: 6px 6px 10px rgb(5, 107, 167);
  color: white; 
	text-shadow:0 1px 0 #ccc,
	            0 2px 0 #c9c9c9,
	            0 3px 0 #bbb,
	            /* 0 4px 0 #b9b9b9,
	            0 5px 0 #aaa, */
	            0 6px 1px rgba(0,0,0,.1),
	            0 0 5px rgba(0,0,0,.1),
	            0 1px 3px rgba(0,0,0,.3),
	            0 3px 5px rgba(0,0,0,.2),
	            0 5px 10px rgba(0,0,0,.25),
	            0 10px 10px rgba(0,0,0,.2),
	            0 20px 20px rgba(0,0,0,.15);
}

nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  /* justify-content: space-evenly; */
}
nav ul li {
  padding: 20px;
}

nav div.account{
  display: flex;
  position: absolute;
  right: 0;
  /* background-color: blueviolet; */
}
nav div.account span a{
  font-weight: 500;
  color: #333;
  text-decoration: none;
  align-items: center;
  margin-right: 10px;
  display: flex;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.705);
}
nav div.account span a:hover{
  /* display: block; */
  /* transform: translateY(-10px); */
  background-color: rgb(0, 174, 255);
}
nav div.account span#user{
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
  padding-right: 10px;
}

nav ul li a{
  opacity: .80;
  text-decoration: none;
}
nav ul li a:hover{
  opacity: 1;
}
nav .toggle-btn {
  display: none;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  position: absolute;
  right: 15px;
  
}
nav .toggle-btn span{
  background-color: white;
  display: block;
  height: 3px;
  width: 20px;
  border-radius: 2px;
  transition: all 0.5s;
}
.rotate45 {
  transform: translateY(6px) rotate(45deg);
}
.rotate-45 {
  transform: translateY(-6px) rotate(-45deg);
}
.dimmed {
  transform: scale(0);
}
@media screen and (max-width: 768px) {
  /* nav .logo{
    position: static;
  } */
  nav {
    justify-content: flex-start;
  }
  nav ul {
    width: fit-content;
  }
  /* nav:nth-child(1){
    padding: 0 20px;
  } */
  nav ul li {
    padding: 10px;
  }
  /* nav ul li:nth-child(1) {
    padding-left: 20px;
  } */
}
@media screen and (max-width: 680px) {
  nav .toggle-btn {
    display: flex;
    cursor: pointer;
  }
  nav ul li:nth-child(1) {
    padding-left: 10px;
  }
  nav ul li {
    width: 100%;
    border-bottom: 0.0001pt solid #106bf3;
  }
  nav ul li a {
    display: inline-block;
    width: 100%;
  }
  nav ul li:hover {
    background-color: #1370fa
  }
  nav div.account{
    display: flex;
    position: absolute;
    transform: translateX(120%);
    right:10px;
    /* bottom: 10px; */
    transition: 1s;
    opacity: .1;
    top: 94vh;
    z-index: 12;
  }
  nav ul {
    /* display: none; */
    width:50vw;
    height: 94vh;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #3586ff;
    transform: translateX(100%);
    z-index: 11;
    transition: 0.8s;
    opacity: .1;
  }
  nav ul.slide{
    transform: translateX(0);
    opacity: 1;
  }
  nav div.slide{
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 380px) {
  nav div.account{
    flex-direction: column;
  }
  nav div.account span:first-child{
    margin-bottom: 10px;
  }
}  