@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  background-color: rgb(4, 205, 255);
  height: 100vh;
  flex-direction: column;
}
.emails, .passwords{
  display: none;
}
.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  margin-bottom: 0;
  z-index: 2;
}
.logo h1 {
  text-shadow: 6px 6px 10px rgb(5, 107, 167);
  color: white; 
	text-shadow:0 1px 0 #ccc,
	            0 2px 0 #c9c9c9,
	            0 3px 0 #bbb,
	            0 4px 0 #b9b9b9,
	            0 5px 0 #aaa,
	            0 6px 1px rgba(0,0,0,.1),
	            0 0 5px rgba(0,0,0,.1),
	            0 1px 3px rgba(0,0,0,.3),
	            0 3px 5px rgba(0,0,0,.2),
	            0 5px 10px rgba(0,0,0,.25),
	            0 10px 10px rgba(0,0,0,.2),
	            0 20px 20px rgba(0,0,0,.15);
  /* source text shadow https://codepen.io/webprogrammingunpas/pen/YWyjjP */
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: white;
  line-height: 50px;
}
form {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding-bottom: 40px;
}
form h2 {
  font-size: 30px;
  text-shadow:0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3);
  text-align: center;
  color: rgb(255, 255, 0)
}
form .icons {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 24px;
  left: -20px;
}
form .icons label{
  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  width : 40px;
  height: 31px;
  left: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}
form .icons label.icon:nth-child(1){
  top: -2px;
  background-image: url('icon/email.png');
}
form .icons label.icon:nth-child(2){
  background-image: url('icon/key.png');
  opacity: 0.75;
  top : 78px;
}
#id_email{
  padding-left: 50px;
  /* background-image: url('icon/email.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#id_password{
  padding-left: 50px;
  /* background-image: url('icon/key.png'); */
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
form label {
  padding-left: 8px;
  font-size: 8pt;
}
form input {
  display: flex;
  /* margin: auto; */
  /* width: 80%; */
  /* border: none; */
  margin-bottom: 5px;
  /* margin: 10px; */
  border: 1px solid rgb(11, 137, 255);
  border-radius: 15px;
  padding: 10px;
}
#email_message{
  font-weight: 500;
  color: blue;
  position: relative;
  left: 10px;
  top : -5px;
  z-index: -3;

}
#password_message{
  font-weight: 500;
  color: blue;
  position: relative;
  left: 10px;
  top : -5px;
  z-index: -3;

}
form button{
  display: flex;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 15px;
  background: blueviolet;
}
form button:hover{
  background: blue;
}
form button span {
  display: flex;
  margin: auto;
}
form h5 {
  color:black;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 2px;
}
form input:hover {
	border-color: rgba(21,127,219,.63);
}
form input:focus { 
	box-shadow: 0px 0px 20px 0px rgba(163, 243, 14, 0.63);
	border-color:#4ab1ff;
	background: #F5F5F5;
}
@media screen and (max-width : 800px) {
  form {
    width: 60%;
  } 
}
@media screen and (max-width : 678px) {
  form {
    width: 70%;
  } 
}
@media screen and (max-width : 567px) {
  form {
    width: 80%;
  } 
}
@-moz-document url-prefix() {
  form .icons label.icon:nth-child(2){
    top: 82px;
  }
}