{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
  <title>Edit Profile</title>
</head>
<body>
  <form method="POST" id="personForm" action="{% url 'user_profile' %}">
    <div class="logo">
      <h1>VaksinYuk</h1>
    </div>
    <h2>Edit Profile</h2>
    <div class="icons">
      {% for form in forms %}
        <label class="icon" for='{{form.id_for_label}}'></label>
      {% endfor %}
    </div>
    <h6 id="email_message">Email anda valid</h6>
    <h6 id="password_message">Maaf password tidak sesuai</h6>
    <h6 id="checkbox_message"></h6>
    {% csrf_token %}
    {% for form in forms %}
      <label for='{{form.id_for_label}}' >{{form.label}} </label> 
      {{form}} 
    {% endfor %}
    </div>
    <button type="submit"><span>Kirim</span></button>
  </form>
  <br><br><br>
  <script type="text/javascript">
    let json = JSON.parse("{{json|escapejs}}");
  </script>
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'user_profile/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>