{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'admin_faskes/style.css' %}">
      <title>Info Faskes</title>
</head>

<body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

      <nav class="navbar navbar-dark bg-info shadow-sm">
            <div class="container-fluid">
                  <h2>VaksinYuk</h2>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                              <li class="nav-item">
                                    <a class="nav-link" href="/user/login/">Log-in</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="/user/register/">Register</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>
      <br>
      <div class="faskes table-responsive">
            <h4>Informasi Fasilitas Kesehatan Yang Tersedia</h4>
            <table class="table-bordered table-success table-striped table-sm">
                  <tr>
                        <th>Lokasi</th>
                        <th>Jumlah Kuota</th>
                  </tr>

                  {% for i in collections %}
                  <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.kuota}}</td>
                  </tr>
                  {% endfor %}
            </table>
      </div>

      <footer>
            <div class="logo logo-inverse logo-fixed-bottom">
                  <h2>VaksinYuk</h2>
            </div>
      </footer>
</body>

</html>