{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="{% static 'user_regis/style.css' %}">
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <script src="https://kit.fontawesome.com/c30b5ee371.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'user_regis/new_style.css' %}">
  <title>Register</title>
</head>
<body>
  <!-- untuk mendapatkan data User-->
  <!-- Triknya biar tidak kelihatan di browser, properti css display dibuat jadi none -->
  <!-- {% for user in users %}
    <span class="emails">{{user.email}}</span>
    <span class="passwords">{{user.password}}</span>
  {% endfor %} -->
  <form method="POST" id="userForm" action="{% url 'user_regis' %}" data-tanggal-url="{% url 'ajax_load_tanggal' %}" class="needs-validation container"  novalidate>
    <div class="logo">
      <h1>VaksinYuk</h1>
    </div>
    <h2>Register</h2>
    <div class="icons" style="display: none;">
      {% for form in forms %}
        <label class="icon" for='{{form.id_for_label}}'></label>
        <!-- <img class="icon" src="{% static icon %}" srcset=""> -->
      {% endfor %}
    </div>
    <!-- <h6 id="email_message">Email anda valid</h6>
    <h6 id="password_message">Maaf password tidak sesuai</h6> -->
    <h6 id="checkbox_message"></h6>
    {% csrf_token %}
    {% for form in forms %}
    <div class="col">
      <label for="{{form.id_for_label}}" class="form-label">{{form.label}} </label>
      <div class="input-group has-validation" >
        <span class="input-group-text" id="inputGroupPrepend" style="border-radius: 10px 0 0 10px;"><label for="{{form.id_for_label}}" ><div id="label_{{form.id_for_label}}"></div></label>
        </span>
        <!-- <span class="input-group-text" id="inputGroupPrepend" style="border-radius: 10px 0 0 10px;"><label for="{{form.id_for_label}}" ><i class="bi bi-envelope-open"></i></label>
        </span> -->
        <!-- <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Email" style="border-radius: 0 10px 10px 0;" required> -->
        {{form}}
        
        {% if form.label == "Password" %}
          <div id="password-eye" style="position: absolute; top: 7px; right: 30px; z-index: 1000; "><i class="bi bi-eye-slash-fill"></i></div>
        {% endif %}
          
        <div class="invalid-feedback">
          {% if form.label == 'Email' %}
            Email anda tidak valid
          {% else %}
            Entri ini tidak boleh kosong
          {% endif %}
        </div>
      </div>
    </div>
      <!-- <label for='{{form.id_for_label}}' >{{form.label}} </label>
      {{form}} -->
    {% endfor %}
   <div class="form-group options">
     <h4>Silakan Isi Form Assesment</h4>
     <h6>Anda harus memenuhi persyaratan di bawah ini untuk dapat menerima vaksin</h6>
      <span class="checkbox payment-radio">
        <label class = "check1"><input class ="checkboxes" type="checkbox" name="type[]" value="A" required />Selama 14 hari terakhir, saya tidak memiliki kontak dengan pasien COVID-19.</label>
      </span>
      <span class="checkbox payment-radio">
        <label class = "check1"><input class ="checkboxes" type="checkbox" name="type[]" value="B" required />Saya tidak terjangkit COVID-19 dalam 14 hari terakhir.</label>
      </span>
      <span class="checkbox payment-radio">
        <label class = "check1"><input class ="checkboxes" type="checkbox" name="type[]" value="C" required />Saya tidak memiliki penyakit kronis dan/atau sedang hamil.</label>
      </span>
      <span class="checkbox payment-radio">
        <label class = "check1"><input class ="checkboxes" type="checkbox" name="type[]" value="D" required />Saya tidak memiliki alergi yang tidak diketahui.</label>
      </span>
    </div>
    <button type="submit"><span>Kirim</span></button>
    <h5>Jika anda sudah mempunyai akun, silahkan <a href="/user/login">login</a></h5>
  </form>
  <br><br><br>
  <script type="text/javascript">
    let json = JSON.parse("{{json|escapejs}}");
  </script>
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'user_regis/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="{% static 'user_regis/new_script.js' %}"></script>
<script>
  $("#id_lokasi").change(function () {
    const url = $("#userForm").attr("data-tanggal-url");  // get the url of the `load_cities` view
        const lokasiId = $(this).val();  // get the selected lokasi ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: "{% url 'ajax_load_tanggal' %}",            // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'lokasi': lokasiId       // add the lokasi id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_tanggal").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
	$("#id_tanggal").change(function () {
        const url = $("#userForm").attr("data-jenis-url");  // get the url of the `load_cities` view
        const tanggalId = $(this).val();  // get the selected lokasi ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: "{% url 'ajax_load_jenis' %}",                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                 'tanggal': tanggalId      // add the lokasi id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_jenis").html(data);  // replace the contents of the tanggal input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (tanggal) {
                    html_data += `<option value="${tanggal.id}">${tanggal.name}</option>`
                });
                console.log(html_data);
                $("#id_tanggal").html(html_data);

                */
            }
        });

    });
</script>
</body>
</html>
